
        body {
            margin: 0;
            padding: 0;
            display: flex;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;}

        .container-fluid {
            display: flex;
            width: 100%;
            padding: 0 !important;
        }

        .sidebar {
            width: 300px;
            flex-shrink: 0;
            color: white;
            height: 100vh;
            position: sticky;
            top: 0;
    }


        .bg-photo {
            background-image: url("https://i.pinimg.com/1200x/64/5e/e5/645ee51be6049a8f993c17df1552020a.jpg");
            background-size: cover;
            background-position: center; 
            height: 400px;   
            object-fit: cover;
        }
        .burgundian {
            color: #43161a
        }
        .vert-olive {
            color: #0f5514;
        }
        .bg-burgundian {
            background-color: #310808 !important;
        }
        .exchange-filter {
            display: none;
        }
        .exchange-filter:checked + label {
            background-color: #12805c;
            color: white;
            border-color: #6B8E23;
        }
        .filter-label {
            display: inline-block;
            padding: 8px 16px;
            margin: 0 2px;
            border: 1px solid #6B8E23;
            border-radius: 4px;
            color: #6B8E23;
            background: white;
            cursor: pointer;
            transition: all 0.3s;
        }
        .push-content-up {
                position: relative;
                margin-top: -300px;
                z-index: 1;
        }
        .exchanges{
            flex-grow: 1;
            margin-left: 0 !important;  
            background: linear-gradient(135deg, #ecebea, #fffefc); 
            width: calc(100% - 300px);
        }
        .vert-profond {
            background-color: #3b5d50; 
        }
   